.jumbotron 
{
	background-color: grey;
	color: black;
	margin-top: 50px;
}

footer 
{
	padding: 10px 10px 0 10px;
	background-color: grey;
	margin-bottom: 0px;
	margin-top: 30px;
}

a 
{
	color: white;
}
		

.hoteles {
	flex: 1 150px;
}

.hoteles-text 
{
	padding-top: 10px;
}

.hoteles-btn 
{
	margin: 0px 0px 20px 20px;
}

.btnReserva {
	width: 100%;
}

.nav-tabs .nav-item .active
{
	font-weight: bold;
}

.nav-tabs .nav-item .nav-link
{
	color: grey;
}

.comentariosP
{
	margin-top: 1rem;
}