.jumbotron {
  background-color: #fffa19;
  color: black;
  margin-top: 50px;
  margin-bottom: 2rem;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 30px;
  margin-bottom: 0px;
}
a {
  color: white;
}
.hoteles {
  flex: 1 150px;
}
.hoteles-text {
  padding-top: 10px;
}
.hoteles-btn {
  margin: 0px 0px 20px 20px;
}
.btnReserva {
  width: 100%;
}
.nav-tabs .nav-item .active {
  font-weight: bold;
}
.nav-tabs .nav-item .nav-link {
  color: grey;
}
.comentariosP {
  margin-top: 1rem;
}
