$yellow: #fffa19;
$red: #FF0000;
$green: #008000;

@mixin margenes($top, $bottom) {
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron 
{
	background-color: grey;
	color: black;
	@include margenes(50px, 2rem);
}

footer 
{
	padding: 10px 10px 0 10px;
	background-color: grey;
	@include margenes(30px, 0px);
}

a 
{
	color: white;
}
		

.hoteles {
	flex: 1 150px;
}

.hoteles-text 
{
	padding-top: 10px;
}

.hoteles-btn 
{
	margin: 0px 0px 20px 20px;
}

.btnReserva {
	width: 100%;
}

.nav-tabs .nav-item .active
{
	font-weight: bold;
}

.nav-tabs .nav-item .nav-link
{
	color: grey;
}

.comentariosP
{
	margin-top: 1rem;
}